body{
  margin-left: 170px;
}
body .container{
  width: 1000px;
  height: 470px;
}
.topbar{
background-color: #2e2e2e;
width: 1000px;
height: 60px;
}
.socialmenu{
  color: #787878;
  font-size: 14px;
  padding-top: 25px;
  padding-left: 20px;
}

.fa {
  padding: 12px;
  font-size:14px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: right;
  margin-right: 10px;
  margin-top: -10px;
}
.fa-linkedin {
  background: #787878;
  color: white;
  text-align: center;
}
.fa-twitter {
  background: #787878;
  color: white;
}
.fa-pinterest {
  background: #787878;
  color: white;
}
.fa-google-plus {
  background: #db4a39;
  color: white;
}
.fa-rss {
  background: #787878;
  color: white;
}
ul {
  list-style-type: none;
  margin-top: 26px;
  margin-left: 8px;
  padding: 0px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 15px;
}
li a:hover {
  border-bottom: 5px solid #4da6ff;
  color: #787878;
}
/*#hr{
  margin-top: -16px;
  border-bottom: 5px solid grey;
}*/
.logo{
  margin-top: 52px;
  margin-left: 20px;
}

.searchbar{
  margin-top: -45px;
  margin-left: 672px;

}
.searchbar .searchcontainer{
 background-color: #f1f1f1;
 height: 29px;
 width: 212px;
 border-radius: 5px;
}
.searchbar button{
  background-color: #0099ff;
  color: #ffffff;
  height: 38px;
  border-radius: 8px;
}
.container{
  margin-top: 40px;
  background-color: #f1f1f1;
  width: 100%;
}
.subContainer1{
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 125px;
}
.subContainer2{
  display: inline-block;
}
.preview{
  padding-left: 20px;
  margin-bottom: 60px;
  display: inline-block;
}
.preview h2{
  font-style: 'Georgia';
  font-size: 34px;
  padding-left: 2px;
  letter-spacing: 1px;
}
.preview p{
  font-style: 'Georgia';
  font-size: 18px;
  padding-left: 2px;
}
.image{
  height: 550px;
  width: 440px;
  padding-left: 43px;
  padding-top: 14px;
}
.contentImage{
  padding-right: 450px; 
  margin-top: -220px;
  padding-left: 16px;
  display: inline-block;
}
.subContent1{
  float: right;
  display: inline-block;
  width: 25%;
  margin-top: -432px;
  text-align: center;
  margin-right: 5px;
}
.subContent2{
  float: right;
  display: inline-block;
  width: 25%;
  margin-top: -432px;
  margin-right: 252px;
  text-align: center;
}
.subContent3{
  float: right;
  display: inline-block;
  width: 25%;
  margin-top: -202px;
  text-align: center;
  margin-right: 5px;
}
.subContent4{
  float: right;
  display: inline-block;
  width: 25%;
  margin-top: -202px;
  text-align: center;
  margin-right: -2px;
}
.shout{
  width: 960px;
  height: 119px;
  background-color: #E0E0E0;
  margin-left: 18px;
  margin-top: 23px;
}
.shoutbutton{
  background-color: #0099ff;
  color: #E1DADA;
  border-radius: 7px;
  width: 275px;
  height: 55px;
  text-align: center;
  font-style: 'Georgia';
  font-size: 25px;
  float: right;
  margin-right: 40px;
  margin-top: -70px;
}
.shoutheading{
  padding-top: 2px;
  padding-left: 39px;
  font-style: 'Georgia';
  font-size: 25px;
}
.shouttext{
  margin-top: -30px;
  font-style: 'Georgia';
  font-size: 20px;
  margin-left: 39px;
}
footer{
  float: left;
  background-color: #1A1A1A;
  width: 1000px;
  height: 452px;
  margin-top: 54px;
}
.upfooter{
  width: 25%;
  padding-bottom: 28px;

}
.upfooter h2{
  color: #ffffff;
  font-family: Georgia;
  font-size: 12px;
  padding-top: 40px;
  padding-left: 12px;
}
.downfooter span{
  color: #f1f1f1;
  padding: 10px; 
  font-size: 15px;
}
.link{
  color: #0099ff;
  padding-left: 12px;
  display : block;
  padding-top: 5px;
  border-bottom: 1px solid #616161;
  padding-bottom: 4px;
}
.link a{
  color: #0099ff;  
  text-decoration-line: none;
  font-size: 13px; 
}
.formfooter{
  background-color: #1A1A1A;
  padding: 10px;
  padding-left: 8px;
}





